<article class="aboutMain">
   <div class="aboutMain__container __container">
      <h2 class="aboutMain__title">Компания SCAD tech</h2>
      <div class="aboutMain__content">
         <div class="aboutMain__placeholder">
            <div class="aboutMain__line"></div>
         </div>
         <div class="aboutMain__text">
            <p>Группа компаний «СКАД тех» — эксперт в разработке и внедрении комплексных решений в сфере автоматизации
               технологических процессов.</p>
            <p>Мы — надежный производитель и интегратор передовых систем автоматизированного управления для
               нефтегазового сектора, горно-металлургической промышленности, энергетики, транспорта и инфраструктуры.
               Объединив профессиональные знания и компетенции, используя инновационные технологии, мы помогаем нашим
               клиентам решать их производственные задачи.</p>
            <p>Создавая решения мы применяем современные аппаратные и программные комплексы мировых лидеров в сфере
               автоматизации технологических процессов (Siemens, Schneider Electric, B&R, ABB), а также ведущих
               российских производителей (PROSOFT).
               На собственных производственных мощностях мы выпускаем десятки типов высококачественной продукции для
               систем автоматизации.</p>
         </div>
      </div>
   </div>
</article>