<article class="partners">
   <div class="partners__container __container">
      <div class="partners__title">Наши партнеры</div>
      <div class="partners__grid">
         <div class="partners__item">
            <div class="partners__logo">
               <picture>
                  <source type="image/avif" srcset="./images/part1.avif" />
                  <source type="image/webp" srcset="./images/part1.webp" />
                  <img class="image" src="./images/part1.png">
               </picture>
            </div>
            <div class="partners__name">ABB</div>
            <div class="partners__about">Мировой технологический лидер в областях электрооборудования, робототехники и
               механизмов движения, промышленной автоматизации и электрических сетей.</div>
         </div>
         <div class="partners__item">
            <div class="partners__logo">
               <picture>
                  <source type="image/avif" srcset="./images/part2.avif" />
                  <source type="image/webp" srcset="./images/part2.webp" />
                  <img class="image" src="./images/part2.png">
               </picture>
            </div>
            <div class="partners__name">Siemens</div>
            <div class="partners__about">Ведущий поставщик продукции, услуг и комплексных решений для модернизации
               ключевых
               отраслей экономики и инфраструктуры.</div>
         </div>
         <div class="partners__item">
            <div class="partners__logo">
               <picture>
                  <source type="image/avif" srcset="./images/part3.avif" />
                  <source type="image/webp" srcset="./images/part3.webp" />
                  <img class="image" src="./images/part3.png">
               </picture>
            </div>
            <div class="partners__name">ООО "Прософт-Системы"</div>
            <div class="partners__about">Компания занимается разработкой, поставкой и внедрением под ключ
               высокотехнологичных приборов и систем автоматизации для энергетической, нефтегазовой, металлургической и
               других отраслей промышленности.</div>
         </div>
         <div class="partners__item">
            <div class="partners__logo">
               <picture>
                  <source type="image/avif" srcset="./images/part4.avif" />
                  <source type="image/webp" srcset="./images/part4.webp" />
                  <img class="image" src="./images/part4.png">
               </picture>
            </div>
            <div class="partners__name">ООО "Торговый Дом "Взлет"</div>
            <div class="partners__about">Разработка и производство приборов учета расхода жидкостей, газа и тепловой
               энергии.</div>
         </div>
         <div class="partners__item">
            <div class="partners__logo">
               <picture>
                  <source type="image/avif" srcset="./images/part5.avif" />
                  <source type="image/webp" srcset="./images/part5.webp" />
                  <img class="image" src="./images/part5.png">
               </picture>
            </div>
            <div class="partners__name">Fujitsu</div>
            <div class="partners__about">Поставщик инфраструктурных решений на рынке информационных и коммуникационных
               технологий.</div>
         </div>
         <div class="partners__item">
            <div class="partners__logo">
               <picture>
                  <source type="image/avif" srcset="./images/part6.avif" />
                  <source type="image/webp" srcset="./images/part6.webp" />
                  <img class="image" src="./images/part6.png">
               </picture>
            </div>
            <div class="partners__name">Schneider Electric</div>
            <div class="partners__about">Ведущий разработчик и поставщик комплексных энергоэффективных решений для
               энергетики и инфраструктуры, промышленных предприятий, объектов гражданского.</div>
         </div>
      </div>
   </div>
</article>