<article class="aboutPrio">
   <div class="aboutPrio__container __container">
      <h2 class="aboutPrio__title">Наши приоритеты</h2>
      <div class="aboutPrio__flex">
         <div class="aboutPrio__item">
            <div class="aboutPrio__content">
               <div class="aboutPrio__head">
                  <div class="aboutPrio__num">01</div>
                  <div class="aboutPrio__about">Наше имя</div>
               </div>
               <div class="aboutPrio__text"><span>Имя «СКАД тех» — наивысшая ценность, которую мы гордо несем вот уже 7
                     лет.</span>
                  Это визитная карточка предприятия, поставляющего своим заказчикам первоклассную продукцию. </div>
            </div>
            <div class="aboutPrio__img image">
               <picture>
                  <source type="image/avif" srcset="./images/about1.avif" />
                  <source type="image/webp" srcset="./images/about1.webp" />
                  <img class="image" src="./images/about1.png">
               </picture>
            </div>
         </div>
         <div class="aboutPrio__item">
            <div class="aboutPrio__content">
               <div class="aboutPrio__head">
                  <div class="aboutPrio__num">01</div>
                  <div class="aboutPrio__about">Наше имя</div>
               </div>
               <div class="aboutPrio__text"><span>Имя «СКАД тех» — наивысшая ценность, которую мы гордо несем вот уже 7
                     лет.</span>
                  Это визитная карточка предприятия, поставляющего своим заказчикам первоклассную продукцию. </div>
            </div>
            <div class="aboutPrio__img image">
               <picture>
                  <source type="image/avif" srcset="./images/about1.avif" />
                  <source type="image/webp" srcset="./images/about1.webp" />
                  <img class="image" src="./images/about1.png">
               </picture>
            </div>
         </div>
         <div class="aboutPrio__item">
            <div class="aboutPrio__content">
               <div class="aboutPrio__head">
                  <div class="aboutPrio__num">01</div>
                  <div class="aboutPrio__about">Наше имя</div>
               </div>
               <div class="aboutPrio__text"><span>Имя «СКАД тех» — наивысшая ценность, которую мы гордо несем вот уже 7
                     лет.</span>
                  Это визитная карточка предприятия, поставляющего своим заказчикам первоклассную продукцию. </div>
            </div>
            <div class="aboutPrio__img image">
               <picture>
                  <source type="image/avif" srcset="./images/about1.avif" />
                  <source type="image/webp" srcset="./images/about1.webp" />
                  <img class="image" src="./images/about1.png">
               </picture>
            </div>
         </div>
         <div class="aboutPrio__item">
            <div class="aboutPrio__content">
               <div class="aboutPrio__head">
                  <div class="aboutPrio__num">01</div>
                  <div class="aboutPrio__about">Наше имя</div>
               </div>
               <div class="aboutPrio__text"><span>Имя «СКАД тех» — наивысшая ценность, которую мы гордо несем вот уже 7
                     лет.</span>
                  Это визитная карточка предприятия, поставляющего своим заказчикам первоклассную продукцию. </div>
            </div>
            <div class="aboutPrio__img image">
               <picture>
                  <source type="image/avif" srcset="./images/about1.avif" />
                  <source type="image/webp" srcset="./images/about1.webp" />
                  <img class="image" src="./images/about1.png">
               </picture>
            </div>
         </div>
      </div>
   </div>
</article>