<article class="prodList">
   <div class="prodList__container __container">
      <div class="prodList__grid">
         <div class="prodList__item">
            <div class="prodList__img">
               <picture>
                  <source type="image/avif" srcset="../images/prodList1.avif" />
                  <source type="image/webp" srcset="../images/prodList1.webp" />
                  <img class="image" src="../images/prodList1.png">
               </picture>
            </div>
            <div class="prodList__content">
               <span></span>
               <div class="prodList__text">
                  <div class="prodList__title">Шкафы, щиты и приборные консоли</div>
                  <div class="prodList__about">Шкафы, щиты и приборные консоли систем автоматики нефтеперекачивающих
                     станций предназначены для работы в составе МПСА, служат для размещения контрольно-измерительных
                     приборов и приборов управления.</div>
               </div>
            </div>
         </div>
         <div class="prodList__item">
            <div class="prodList__img">
               <picture>
                  <source type="image/avif" srcset="../images/prodList2.avif" />
                  <source type="image/webp" srcset="../images/prodList2.webp" />
                  <img class="image" src="../images/prodList2.png">
               </picture>
            </div>
            <div class="prodList__content">
               <span></span>
               <div class="prodList__text">
                  <div class="prodList__title">Блок-контейнерная продукция</div>
                  <div class="prodList__about">Компания «СКАД тех» является одним из лидеров на рынке по производству и
                     сборке блок-контейнеров пункта контроля управления (БК ПКУ).</div>
               </div>
            </div>
         </div>
         <div class="prodList__item">
            <div class="prodList__img">
               <picture>
                  <source type="image/avif" srcset="../images/prodList3.avif" />
                  <source type="image/webp" srcset="../images/prodList3.webp" />
                  <img class="image" src="../images/prodList3.png">
               </picture>
            </div>
            <div class="prodList__content">
               <span></span>
               <div class="prodList__text">
                  <div class="prodList__title">Электротехническая продукция</div>
                  <div class="prodList__about">Комплектное распределительное устройство (КРУ) предназначено для приема и
                     распределения электроэнергии трехфазного переменного тока с номинальным напряжением 6.3 или 10 кВ
                     (50
                     Гц).</div>
               </div>
            </div>
         </div>
         <div class="prodList__item">
            <div class="prodList__img">
               <picture>
                  <source type="image/avif" srcset="../images/prodList4.avif" />
                  <source type="image/webp" srcset="../images/prodList4.webp" />
                  <img class="image" src="../images/prodList4.png">
               </picture>
            </div>
            <div class="prodList__content">
               <span></span>
               <div class="prodList__text">
                  <div class="prodList__title">Средства измерения</div>
                  <div class="prodList__about">Компания «СКАД тех» предлагает комплексные инженерные решения по созданию
                     различных систем измерения. Наши специалисты совместно с зарубежными партнерами постоянно изучают
                     инновационные технологии и совершенствуют предлагаемые решения, учитывая потребности наших клиентов
                  </div>
               </div>
            </div>
         </div>
         <div class="prodList__item">
            <div class="prodList__img">
               <picture>
                  <source type="image/avif" srcset="../images/prodList5.avif" />
                  <source type="image/webp" srcset="../images/prodList5.webp" />
                  <img class="image" src="../images/prodList5.png">
               </picture>
            </div>
            <div class="prodList__content">
               <span></span>
               <div class="prodList__text">
                  <div class="prodList__title">SCAD CC Pipeline Kit</div>
                  <div class="prodList__about">Компания «СКАД тех» предлагает комплексные инженерные решения по созданию
                     различных систем измерения. Наши специалисты совместно с зарубежными партнерами постоянно изучают
                     инновационные технологии и совершенствуют предлагаемые решения, учитывая потребности наших клиентов
                  </div>
               </div>
            </div>
         </div>
         <div class="prodList__item">
            <div class="prodList__img">
               <picture>
                  <source type="image/avif" srcset="../images/prodList6.avif" />
                  <source type="image/webp" srcset="../images/prodList6.webp" />
                  <img class="image" src="../images/prodList6.png">
               </picture>
            </div>
            <div class="prodList__content">
               <span></span>
               <div class="prodList__text">
                  <div class="prodList__title">Программный SCADA-пакет SCAD CC</div>
                  <div class="prodList__about">Программный SCADA-пакет SCAD CC предназначен для использования в области
                     автоматизации технологического процесса. Основная сфера применения — работа с программным
                     обеспечением
                     и эксплуатация технологического оборудования посредством АРМ (автоматизированного рабочего места).
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>