<article class="prodMain">
   <div class="prodMain__container __container">
      <div class="prodMain__content">
         <div class="prodMain__title">Наша продукция</div>
         <div class="prodMain__subtitle"><span></span>
            <p>«СКАД тех» — лидер в разработке российского ПО для построения
               многоуровневых
               территориально-распределенных систем сбора данных и управления, прикладного ПО для управления
               трубопроводным
               транспортом.</p>
         </div>
      </div>
      <div class="prodMain__img">
         <picture>
            <source type="image/avif" srcset="../images/prodMain.avif" />
            <source type="image/webp" srcset="../images/prodMain.webp" />
            <img class="image" src="../images/prodMain.png">
         </picture>
      </div>
   </div>
</article>