.header {
   margin-top: 35px;
   margin-bottom: 52px;
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 1px solid #C4C4C4 ;
      margin-bottom: 37px;
   }

   &__logo {
      display: flex;
      align-items: center;
   }

   &__img {
      max-width: 225px;
      margin-right: 35px;
   }

   &__text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #000000;

      max-width: 25%;
   }

   &__contact {
      display: flex;
      align-items: center;
   }
   &__items{ 
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-right: 40px;
   }
   &__item {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
   }

   &__button {
      display: inline-block;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      padding: 13px 25px;
      background: #0C4C8A;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      transition: transform .2s;
      &:hover {
         transform:scale(1.1)
      }
   }

   &__nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &>*:not(:last-child) {
         margin-right: 81px;
      }
   }
}

.headerItem {

   &__img {
      margin-right: 12px;
   }

   &__link {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: #000000;

      transition: transform .2s;
      &:hover {
         transform:scale(1.05)
      }
   }
}
.headerNav {

   &__link {

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;

      color: #0C4C8A;
      transition: transform .2s;
      &:hover {
         transform:scale(1.05)
      }
   }
}

.svg-mail-dims { width: 20px; height: 20px; }
.svg-phone-dims { width: 20px; height: 20px; }
