.systems {
   background: #F6F6F6;
   &__container {
      padding-top: 60px;
      padding-bottom: 100px;
   }

   &__title {
      max-width: 60%;
      color: #383838;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 80px;
   }

   &__grid {

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap:53px 140px;
   }

   &__item {
      display: flex;
      flex-direction: column;
   }
   &__head {
      display: flex;
      align-items: center;
   }
   &__logo {
      margin-right: 40px;
   }

   &__theme {
      color: #000;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
   &__line {
      display: block;
      width:30%;
      height:2px;
      background: #0C4C8A;
      margin-top: 30px;
      margin-bottom: 45px;
   }
   &__text {
      color: #464646;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }
}
