<header class="header ">
   <div class="header__content __container">
      <div class="header__info">
         <div class="header__logo">
            <div class="header__img">
               <picture>
                  <source type="image/avif" srcset="./images/logo.avif" />
                  <source type="image/webp" srcset="./images/logo.webp" />
                  <img class="image" src="./images/logo.png">
               </picture>
            </div>
            <div class="header__text">Комплексные решения в сфере управления технологиями</div>
         </div>
         <div class="header__contact">
            <div class="header__items">
               <div class="header__item">
                  <div class="icon-box headerItem__img">
                     <img src="./images/sprite.svg#phone" class="svg-phone-dims" alt="phone">
                  </div>
                  <a href="" class="headerItem__link">+7 495 74-80-32</a>
               </div>
               <div class="header__item">
                  <div class="icon-box headerItem__img">
                     <img src="./images/sprite.svg#mail" class="svg-mail-dims" alt="mail">
                  </div>
                  <a href="" class="headerItem__link">info@scad.su</a>
               </div>
            </div>
            <a href="#" class="header__button">Подать заявку</a>
         </div>
      </div>
      <nav class="header__nav">
         <a href="" class="headerNav__link">О нас</a>
         <a href="" class="headerNav__link">Производство</a>
         <a href="" class="headerNav__link">Документация</a>
         <a href="" class="headerNav__link">Контакты</a>
      </nav>
   </div>
</header>