<article class="contacts">
   <div class="contacts__container __container">
      <div class="contacts__head">
         <div class="contacts__title">Наши контакты</div>
         <div class="contacts__line"></div>
      </div>
      <div class="contacts__grid">
         <div class="contacts__item">
            <div class="contacts__image">
               <picture>
                  <source type="image/avif" srcset="./images/cont.avif" />
                  <source type="image/webp" srcset="./images/cont.webp" />
                  <img class="image" src="./images/cont.png">
               </picture>
            </div>
            <div class="contacts__content">
               <div class="contacts__about">Главный офис в Москве</div>
               <div class="contacts__lineItem"></div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts1" class="svg-contacts1-dims" alt="contacts1">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">129110, Москва, Олимпийский проспект,
                     д. 16, стр. 5</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts2" class="svg-contacts2-dims" alt="contacts2">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 374 80-32</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts3" class="svg-contacts3-dims" alt="contacts3">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 646 8538</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts4" class="svg-contacts4-dims" alt="contacts4">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">info@scad.su</a>
               </div>
            </div>
         </div>
         <div class="contacts__item">
            <div class="contacts__image">
               <picture>
                  <source type="image/avif" srcset="./images/cont.avif" />
                  <source type="image/webp" srcset="./images/cont.webp" />
                  <img class="image" src="./images/cont.png">
               </picture>
            </div>
            <div class="contacts__content">
               <div class="contacts__about">Главный офис в Москве</div>
               <div class="contacts__lineItem"></div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts1" class="svg-contacts1-dims" alt="contacts1">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">129110, Москва, Олимпийский проспект,
                     д. 16, стр. 5</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts2" class="svg-contacts2-dims" alt="contacts2">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 374 80-32</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts3" class="svg-contacts3-dims" alt="contacts3">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 646 8538</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts4" class="svg-contacts4-dims" alt="contacts4">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">info@scad.su</a>
               </div>
            </div>
         </div>
         <div class="contacts__item">
            <div class="contacts__image">
               <picture>
                  <source type="image/avif" srcset="./images/cont.avif" />
                  <source type="image/webp" srcset="./images/cont.webp" />
                  <img class="image" src="./images/cont.png">
               </picture>
            </div>
            <div class="contacts__content">
               <div class="contacts__about">Главный офис в Москве</div>
               <div class="contacts__lineItem"></div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts1" class="svg-contacts1-dims" alt="contacts1">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">129110, Москва, Олимпийский проспект,
                     д. 16, стр. 5</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts2" class="svg-contacts2-dims" alt="contacts2">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 374 80-32</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts3" class="svg-contacts3-dims" alt="contacts3">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 646 8538</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts4" class="svg-contacts4-dims" alt="contacts4">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">info@scad.su</a>
               </div>
            </div>
         </div>
         <div class="contacts__item">
            <div class="contacts__image">
               <picture>
                  <source type="image/avif" srcset="./images/cont.avif" />
                  <source type="image/webp" srcset="./images/cont.webp" />
                  <img class="image" src="./images/cont.png">
               </picture>
            </div>
            <div class="contacts__content">
               <div class="contacts__about">Главный офис в Москве</div>
               <div class="contacts__lineItem"></div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts1" class="svg-contacts1-dims" alt="contacts1">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">129110, Москва, Олимпийский проспект,
                     д. 16, стр. 5</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts2" class="svg-contacts2-dims" alt="contacts2">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 374 80-32</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts3" class="svg-contacts3-dims" alt="contacts3">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 646 8538</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts4" class="svg-contacts4-dims" alt="contacts4">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">info@scad.su</a>
               </div>
            </div>
         </div>
         <div class="contacts__item">
            <div class="contacts__image">
               <picture>
                  <source type="image/avif" srcset="./images/cont.avif" />
                  <source type="image/webp" srcset="./images/cont.webp" />
                  <img class="image" src="./images/cont.png">
               </picture>
            </div>
            <div class="contacts__content">
               <div class="contacts__about">Главный офис в Москве</div>
               <div class="contacts__lineItem"></div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts1" class="svg-contacts1-dims" alt="contacts1">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">129110, Москва, Олимпийский проспект,
                     д. 16, стр. 5</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts2" class="svg-contacts2-dims" alt="contacts2">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 374 80-32</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts3" class="svg-contacts3-dims" alt="contacts3">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 646 8538</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts4" class="svg-contacts4-dims" alt="contacts4">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">info@scad.su</a>
               </div>
            </div>
         </div>
         <div class="contacts__item">
            <div class="contacts__image">
               <picture>
                  <source type="image/avif" srcset="./images/cont.avif" />
                  <source type="image/webp" srcset="./images/cont.webp" />
                  <img class="image" src="./images/cont.png">
               </picture>
            </div>
            <div class="contacts__content">
               <div class="contacts__about">Главный офис в Москве</div>
               <div class="contacts__lineItem"></div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts1" class="svg-contacts1-dims" alt="contacts1">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">129110, Москва, Олимпийский проспект,
                     д. 16, стр. 5</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts2" class="svg-contacts2-dims" alt="contacts2">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 374 80-32</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts3" class="svg-contacts3-dims" alt="contacts3">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 646 8538</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts4" class="svg-contacts4-dims" alt="contacts4">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">info@scad.su</a>
               </div>
            </div>
         </div>
         <div class="contacts__item">
            <div class="contacts__image">
               <picture>
                  <source type="image/avif" srcset="./images/cont.avif" />
                  <source type="image/webp" srcset="./images/cont.webp" />
                  <img class="image" src="./images/cont.png">
               </picture>
            </div>
            <div class="contacts__content">
               <div class="contacts__about">Главный офис в Москве</div>
               <div class="contacts__lineItem"></div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts1" class="svg-contacts1-dims" alt="contacts1">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">129110, Москва, Олимпийский проспект,
                     д. 16, стр. 5</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts2" class="svg-contacts2-dims" alt="contacts2">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 374 80-32</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts3" class="svg-contacts3-dims" alt="contacts3">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">+7 495 646 8538</a>
               </div>
               <div class="contacts__linkBlock">
                  <div class="contacts__icon image">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#contacts4" class="svg-contacts4-dims" alt="contacts4">
                     </div>
                  </div>
                  <a href="#" class="contacts__link">info@scad.su</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>