<article class="companies">
   <div class="companies__container __container">
      <ul class="companies__list">
         <li class="companies__item">
            <picture>
               <source type="image/avif" srcset="../images/gas.avif" />
               <source type="image/webp" srcset="../images/gas.webp" />
               <img class="image" src="../images/gas.png">
            </picture>
         </li>
         <li class="companies__item">
            <picture>
               <source type="image/avif" srcset="../images/luk.avif" />
               <source type="image/webp" srcset="../images/luk.webp" />
               <img class="image" src="../images/luk.png">
            </picture>
         </li>
         <li class="companies__item">
            <picture>
               <source type="image/avif" srcset="../images/ros.avif" />
               <source type="image/webp" srcset="../images/ros.webp" />
               <img class="image" src="../images/ros.png">
            </picture>
         </li>
         <li class="companies__item">
            <picture>
               <source type="image/avif" srcset="../images/tras.avif" />
               <source type="image/webp" srcset="../images/tras.webp" />
               <img class="image" src="../images/tras.png">
            </picture>
         </li>
         <li class="companies__item">
            <picture>
               <source type="image/avif" srcset="../images/rostel.avif" />
               <source type="image/webp" srcset="../images/rostel.webp" />
               <img class="image" src="../images/rostel.png">
            </picture>
         </li>
      </ul>
   </div>
</article>