<article class="geo">
   <div class="geo__bg" style="--bg:url('../images/geo-bg.avif')"></div>
   <div class="geo__container __container">
      <div class="geo__content">
         <h2 class="geo__title">География проектов</h2>
         <div class="geo__subtitle">Группа компаний SCAD tech имеет более 17 лет опыта работы в автомобильной
            промышленности и промышленной автоматизации.</div>
         <div class="geo__text">Мы занимаем прочную позицию на нефтяном и газовом рынке и является многолетним надежным
            партнером как для российских, так и для зарубежных компаний.</div>
         <a href="" class="geo__button">Подать заявку</a>
      </div>
   </div>
</article>