<article class="systems">
   <div class="systems__container __container">
      <h2 class="systems__title">Системы автоматизации
         и телемеханизации «под ключ»</h2>
      <div class="systems__grid">
         <div class="systems__item">
            <div class="systems__head">
               <div class="icon-box systems__logo">
                  <img src="../images/sprite.svg#analisSys" class="svg-analisSys-dims" alt="analisSys">
               </div>
               <div class="systems__theme">Системы поддержки
                  принятия решений,
                  анализа и управления</div>
            </div>
            <div class="systems__line"></div>
            <div class="systems__text">Математические модели процессов и использование компьютерного «интеллекта»
               позволяет управлять сложными распределенными системами безопасно и эффективно.</div>
         </div>
         <div class="systems__item">
            <div class="systems__head">
               <div class="icon-box systems__logo">
                  <img src="../images/sprite.svg#prod" class="svg-prod-dims" alt="prod">
               </div>
               <div class="systems__theme">Серийная продукция собственного производства</div>
            </div>
            <div class="systems__line"></div>
            <div class="systems__text">Наличие компетенций по разработке и собственное производство аппаратных средств
               АСУ ТП и энергетического хозяйства позволяет создать максимально эффективную, интегрированную
               автоматизированную систему, гибко реагировать на пожелания заказчиков.</div>
         </div>
         <div class="systems__item">
            <div class="systems__head">
               <div class="icon-box systems__logo">
                  <img src="../images/sprite.svg#dispetSys" class="svg-dispetSys-dims" alt="dispetSys">
               </div>
               <div class="systems__theme">Диспетчерские системы</div>
            </div>
            <div class="systems__line"></div>
            <div class="systems__text">Современные диспетчерские системы контролируют и управляют технологическим
               процессом быстро и просто, снижая риски человеческого фактора в техногенных катастрофах и авариях на
               производстве.</div>
         </div>
         <div class="systems__item">
            <div class="systems__head">

               <div class="icon-box systems__logo">
                  <img src="../images/sprite.svg#autoSys" class="svg-autoSys-dims" alt="autoSys">
               </div>
               <div class="systems__theme">Автоматизированные системы управления и учета</div>
            </div>
            <div class="systems__line"></div>
            <div class="systems__text">Автоматизированные системы гарантируют большую безопасность, надежность и
               эффективность работы объектов управления, предотвращают загрязнение окружающей среды.</div>
         </div>
      </div>
   </div>
</article>